
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/images/favicon.ico" sizes="16x16">
    <link rel="stylesheet" href="/uikit/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="/css/sidebar.css">
    <link rel="stylesheet" type="text/css" href="/css/nav.css">
    <link rel="stylesheet" type="text/css" href="/css/content.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">


    <title>E-Exams: แก้ไขข้อมูลเจ้าหน้าที่</title>
</head>

<body>
    <%- include('../layouts/sidebar') %>;
    <%- include('../layouts/topbar') %>;

    <div class="content">
        <h3 class="uk-heading-line uk-text-center"><span>แก้ไขข้อมูลเจ้าหน้าที่</span></h3>

        <div style="display: flex; justify-content: center">
            <div style="min-width: 500px;">
                <form class="uk-form-stacked" method="post" action="/staff/edit/submit">

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">ชื่อ</label>
                        <div class="uk-form-controls">
                            <input class="uk-input"  type="text"  value="<%= result.firstname%>" name="firstname">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">นามสกุล</label>
                        <div class="uk-form-controls">
                            <input class="uk-input"  type="text" value="<%= result.lastname%>" name="lastname">
                        </div>
                    </div>
                
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">ที่อยู่</label>
                        <div class="uk-form-controls">
                            <input class="uk-input"  type="text" value="<%= result.address%>" name="address">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">เบอร์โทรศัพท์</label>
                        <div class="uk-form-controls">
                            <input class="uk-input"  type="tel" value="<%= result.phone%>" name="phone" maxlength="10">
                        </div>
                    </div>

                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">อีเมล</label>
                        <div class="uk-form-controls">
                            <input class="uk-input"  type="email" value="<%= result.email%>" name="email" readonly style="background-color:#F8F8F8">
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label" for="form-stacked-text">ตำแหน่ง</label>
                        <div class="uk-form-controls">
                            <input class="uk-input"  type="text" value="<%= result.position%>" name="position">
                        </div>
                    </div>

                    <button class="uk-button uk-button-primary " style="width:100%;" type="submit">submit</button>
                </form>
            </div>
        </div>
    </div>

</body>
</html>

<script src="/uikit/js/uikit.min.js"></script>
<script src="/uikit/js/uikit-icons.min.js"></script>